/* Main Css for the Website, to be placed first in style sheet links in head of
each page. More specific style sheet links to be placed below in order of
granularity */

html{
  /* Colours */
  background-color: rgb(255, 255, 255);

  /* Font */
  font-family: 'Source Code Pro', monospace;

  /*Centering*/
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}

body{
  /* Colours */
  background-color: rgb(255, 255, 255);

  /* Borders */
  border-left: 2px solid rgb(210, 210, 210);
  border-right: 2px solid rgb(210, 210, 210);

  /* Centering */
  width: 90%;
  height: 90%;

}

header{
  /* Borders */
  border-bottom: 2px solid rgb(210, 210, 210);

  /* Centering */
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

nav{
  /* Borders */
  border-bottom: 2px solid rgb(210, 210, 210);

  /* Centering */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width:  85%;
  text-align: center;
}

nav a{
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
}

nav a:visited{
  color: rgb(0, 0, 0);
}

nav a:hover{
  color: rgb(100, 100, 100);
}

.formal{
  margin-left: auto;
  margin-right: auto;
  width:  85%;
  text-align: justify;
}

img.full-width{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

img.large{
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

table.parts-table{
  border: 1px solid rgb(100, 100, 100);
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

table.parts-table tr, table.parts-table td{
  text-align: left;
  padding: 8px;
}

table.parts-table img{
  display: block;
  height: 100px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

table.parts-table tr:nth-child(even) {
  background-color: rgb(200, 200, 200);
}

main{
  /* Centering */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
